* {
  margin: 0;
  padding: 0;
  }

#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
#left{
  border: black solid;
  width: 20vw;
}
#right{
  width: 50vw;
  display: flex;
  flex-direction: column;
}
#top{
  border: black solid;
  height: 50%;
}
#bottom{
  border: black solid;
  height: 50%;
}